* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brown: #312b29;
  --red: #ef3c46;
  --white: #ffffff;
  --font: Arial, Helvetica, sans-serif;
}

.mainpage {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 100vh;
  background-color: var(--brown);
}

.main-page-info {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  padding-left: 100px;
}

.info1 h1 {
  color: var(--white);
  font-weight: 900em;
  font-size: 80px;
  font-family: var(--font);
}

.info-buttons {
  padding-top: 50px;
}

.button1 {
  height: 68px;
  width: 180px;
  border-radius: 10px;
  font-size: 32px;
  font-family: var(--font);
  background-color: var(--red);
  color: var(--white);
  text-decoration: none;
  padding: 18px;
}

.button2 {
  height: 68px;
  width: 250px;
  margin-left: 20px;
  border-radius: 10px;
  border: 2px solid var(--white);
  color: var(--white);
  text-decoration: none;
  padding: 18px;
  background-color: var(--brown);
  font-size: 32px;
  font-weight: 900;
  font-family: var(--font);
  padding: 18px;
}

.button2 a {
  color: var(--white);
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  font-size: 28px;
}

/* mainpage styles  ends */

/* section 2 starts */

.section2 {
  display: grid;
  grid-template-rows: 1fr 2fr;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  height: 100vh;
}

.secondpage-header {
  position: relative;
  top: 15%;
  text-align: center;
}

.secondpage-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-self: center;
  align-items: center;
  justify-content: center;
  gap: 300px;
}

.secondpage-content h3 {
  font-weight: 900em;
  font-size: 40px;
  font-family: var(--font);
  padding-top: 50px;
}
.secondpage-content p {
  font-size: 24px;
  line-height: 1.4;
  font-family: var(--font);
  padding-top: 32px;
  padding-bottom: 50px;
}

.secondpage-header h2 {
  font-size: 64px;
  font-family: var(--font);
}

/* 3rd section starts here */

.section-3 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-self: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100vh;
  background-color: var(--brown);
}

.third-page-info {
  position: relative;
  left: 20%;
  color: var(--white);
}

.third-page-info h3 {
  font-size: 40px;

  color: var(--white);
  font-family: var(--font);
  padding-top: 50px;
}

.third-page-info p {
  color: var(--white);
  font-size: 20px;
  line-height: 1.4;
  font-family: var(--font);
  padding-top: 50px;
  padding-bottom: 50px;
}
